CONFIG_TARGET_lantiq=y
CONFIG_TARGET_lantiq_rxr200=y
CONFIG_KERNEL_RELAY=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_PACKAGE_kmod-ralink_inic=y
CONFIG_PACKAGE_kmod-ralink_bin=y
CONFIG_PACKAGE_kmod-ltq-tapi=y
CONFIG_PACKAGE_kmod-ltq-vmmc=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_dsl-vrx200-firmware-xdsl-a=y
CONFIG_PACKAGE_dsl-vrx200-firmware-xdsl-a-patch=y
CONFIG_PACKAGE_dsl-vrx200-firmware-xdsl-b=y
CONFIG_PACKAGE_dsl-vrx200-firmware-xdsl-b-patch=y
CONFIG_PACKAGE_kmod-ath9k-htc=y

